* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* height: calc(100vh - 70px); */
  color: var(--color-1);
  font-family: "Roboto Mono", monospace;
}

/* COLORS */

:root {
  /* BACKGROUND COLORS PAGES */
  --background-1: #EFE7E6;
  /* pouzita - isabelline */
  --background-2: #E7EBEE;
  /* pouzita - antiflash white*/
  --background-3: #B0B4BF;
  /* french gray 2 */
  --background-4: #EEE8EA;
  /* in use */
  --background-5: #D8C3C0;
  /* pale dogwood */
  --background-6: #EBEBEB;
  /* pouzita na Contact */
  /* --background-6-2: #BEDACE; */
  --background-6-2: #CEDFD5;
  /* Contact-link-hover mobilni verze */
  --background-7: #EAA29A;
  /* melon 2 */
  --background-8: #EFE7EF;
  /* in use */
  --background-9: #EFE6EF;
  /* in use */
  --background-10: #E3DEE1;
  /* in use */

  /* BACKGROUND COLORS HEADER AND FOOTER */

  --background-footer-1: #292929;
  /* jet */
  --background-footer-2: #474747;
  /* outer space */
  --background-header-1: #F4F4F6;
  /* snow */
  --background-header-2: #E7DADD;
  /* levander-blush */
  --background-opacity: rgba(244, 244, 246, 0.5);

  /* COLORS FONT */

  --color-1: #292929;
  /* jet */
  --color-2: #474747;
  /* outer space */
  --color-3: #F4F4F6;
  /* snow */
  --color-4: #F368A6;
}


/* FONTS */

h1 {
  font-family: "Amatic SC", sans-serif;
  ;
  /* font-family: "Reenie Beanie", cursive; */
  font-size: 2.7rem;
  /* letter-spacing: 3px; */
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.9rem;
  }
}

/* NAVBAR */

/* NAVBAR HAMBURGER MENU _ BIG SCREENS */

header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--background-header-1);
}

.hamburger {
  display: none;
}

.navbar-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--background-header-1);
  height: 70px;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .navbar-navigation {
    padding: 15px;
  }

  header {
    position: sticky;
    top: 0;
    /* Pevné umiestnenie na vrch stránky */
    z-index: 1000;
  }
}

.navbar-link-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  /* flex-grow: 2; */
}

.menu-link {
  color: var(--color-1);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}


/* SOCIAL MEDIA ICONS */

.social-media-links {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
  /* flex-grow: 1; */
}

.social-media-icon {
  color: var(--color-1);
  font-size: 2.5rem;
}

/* ENGLISH-CZECH BUTTON */

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 50px;
  border: solid 2.48px var(--color-1);
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 6px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .language-toggle {
    margin: 0;
    padding: 15px;
  }
}


/* NAVBAR HAMBURGER MENU _ Responsive - MOBILE */

@media (max-width: 768px) {

  header {
    flex-direction: row;
    /* background-color: var(--background-header-1); */
    padding: 10px;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    font-size: 1.7rem;
    /* font-size: 40px; */
    z-index: 1;
    background: none;
    border: 0;
    color: var(--color-1);
    /* background-color: var(--background-2); */
  }


  .navbar-navigation {
    display: none;
    /* position: absolute;
    z-index: 1;
    width: 100%; */
    /* background-color: var(--background-header-1); */
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .navbar-navigation.open {
    display: flex;
    position: absolute;
    top: 50px;
    /* Nastaví pozici pod header */
    left: 0;
    right: 0;
    /* flex-direction: column; */
    height: fit-content;
    /* background-color: var(--background-header-1); */
    /* background-color: var(--background-opacity); */
    background-color: transparent;
    /* width: 100%; */
    padding: 20px;
  }

  .navbar-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: var(--background-header-1); */
    font-size: 1.3rem;
    padding-top: 3px;
    line-height: 1.6rem;
    /* border: solid 2px red; */
  }

  .menu-link {
    border: solid 2px var(--color-1);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--background-header-1);
  }

  .menu-link:hover {
    background-color: var(--background-opacity);
  }

  .social-media-links {
    display: none;
    /* display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin: 0; */
    /* width: 100%; */
  }

}

/* NAVBAR HOVER */

.menu-link:hover,
.menu-link:focus {
  /* color: var(--color-4); */
  text-decoration: underline overline;
  text-underline-offset: 6px;
}

@media (max-width: 768px) {

  .menu-link:hover,
  .menu-link:focus {
    /* color: var(--color-4); */
    text-decoration: none;
    text-underline-offset: 6px;
  }

  /* #menu-link-01:focus,
  #menu-link-01:hover {
    color: var(--background-5);
  }

  #menu-link-02:focus,
  #menu-link-02:hover {
    color: var(--background-3);
  }

  #menu-link-03:focus,
  #menu-link-03:hover {
    color: var(--background-10);
  }

  #menu-link-04:focus,
  #menu-link-04:hover {
    color: var(--background-6-2);
  } */
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-footer-1);
  width: 100%;
  height: 50px;
  /* height: 100%; */
  color: var(--background-header-1);
  padding: 30px;
}

/* .footer p {
  margin: 0;
} */

.web-design {
  font-size: 0.7rem;
  color: var(--color-3);
}

.fa-heart {
  color: var(--color-4);
}

.web-design-mari {
  text-decoration: none;
  color: var(--color-3)
}

.copyright {
  color: var(--color-3);
  /* margin: 30px 20px 20px 20px; */
  font-size: 0.7rem;
}

/* SOCIAL MEDIA LINKS FOOTER */

.social-media-links-footer {
  display: none;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    height: 100%;
    /* padding: 15px; */
  }

  /* SOCIAL MEDIA LINKS FOOTER */

  .social-media-links-footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .social-media-icon-footer {
    color: var(--color-3);
    margin: 10px;
  }

  /* .footer-links {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  } */

  /* .social-media-icon {
    margin-left: 0;
  } */
}

@media (max-width: 768px) {}

/* ZAROVNANIE PARAGRAFOV VSETKYCH */

.paragraph {
  text-align: center;
}


/* ABOUT ME */

.aboutme {
  display: flex;
  flex-direction: row;
  background-color: var(--background-2);
  height: 100vh;
}

.aboutme-text {
  display: flex;
  flex-direction: column;
  padding: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 2;
}

.aboutme-image-container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  /* flex-grow: 1; */
  overflow: hidden;
}


/* .aboutme-background-image {

  width: 100%;
  background-image: url('./imgomne/img-omne-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
} */

.aboutme-background-image {
  width: 100%;
  height: 100vh;
}

/* PRIDANY KOD ANIMACE */

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}


.slide1 {
  background-image: url('./imgomne/img-omne-1.jpg');
  /* animation: fade 55s infinite; */
  /* animation-delay: 0s;
  opacity: 1; */
  animation: fadeIn 2s ease-in-out forwards;
}

/* .slide2 {
  background-image: url('./imgomne/img-omne-2.jpg');
  animation: fade 55s infinite;
  animation-delay: 20s;
}

.slide3 {
  background-image: url('./imgomne/img-omne-3.jpg');
  animation: fade 55s infinite;
  animation-delay: 35s;
} */


@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


/* KONEC ANIMACE */

@media (max-width: 768px) {

  .aboutme {
    flex-direction: column;
    height: 100%;
    padding-top: 115px;
  }

  .slide {
    height: 100%;
  }
}


/* INTRO  */

.intro {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 70px);
  /* OTESTOVAT NA VELKYCH SCREENOCH */
  background-color: var(--background-1);
}

/* @media (max-width: 768px) {
  .intro-text {
    padding: 15px;
  }
} */


.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 80px;
  flex-grow: 2;
}

.intro-title {
  text-align: center;
}

.intro-background-image {
  width: 40%;
  background-image: url('./img/img-hero-3.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex-grow: 1;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 100px;
    padding-top: 115px;
  }

  .intro-text {
    width: 100%;
    /* height: 60%; */
    height: 40vh;
  }

  .intro-background-image {
    /* display: none; */
    /* min-height: 100vh; */
    height: 70vh;
    min-width: 100%;
    background-position: center;
  }

  .intro-paragraph {
    display: none;
  }

}

/* BUTTON RESERVIO */
.button-style {
  padding: 25px 45px;
  background-color: transparent;
  /* background-color: var(--background-header-1); */
  color: var(--color-1);
  /* border: solid 2px var(--background-header-1); */
  border: solid 2px var(--color-1);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  letter-spacing: 3px;
  margin: 70px;
}

.button-style:hover {
  background-color: var(--background-header-1);
  border-color: var(--color-1);
}


@media (max-width: 768px) {
  .button-style {
    padding: 20px 40px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    margin: 70px;
    /* border-color: var(--background-header-1); */
  }

  /* .intro-title {
    display: none;
  } */
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-10);
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding: 80px;
  flex-grow: 2;
}

.services-title {
  text-align: center;
}

.services-background-image {
  width: 40%;
  background-image: url('./imgservices/img-services-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  opacity: 0;
  /* Začína ako neviditeľné */
  animation: fadeInServices 2s ease-in-out forwards;
}

@keyframes fadeInServices {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 115px;
  }

  .services-text {
    width: 100%;
    height: 60%;
  }

  .services-background-image {
    min-height: 100vh;
    min-width: 100%;
  }
}

/* CONTACT */

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-6);
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
  flex-grow: 2;
}

.contact-webdesign {
  font-size: 0.7rem;
  margin-top: 70px;
}

/* .contact-title {
  padding-left: 100px;
} */

.google-map {
  width: 40%;
  flex-grow: 1;
  margin-left: 80px;
  opacity: 0;
  /* Začína ako neviditeľné */
  animation: fadeInContact 2s ease-in-out forwards;
}

@keyframes fadeInContact {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.google-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.email {
  cursor: pointer;
}

.email a {
  color: var(--color-4);
}


@media (max-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 115px;
  }

  .contact-text {
    width: 100%;
    height: 60%;
  }

  .google-map {
    /* min-height: 100vh;
    min-width: 100%; */
    width: 100%;
    margin: 0;
    height: 300px;
  }
}


/* 404 ERROR PAGE */

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-4);
  padding: 30px;
}

.error-link {
  text-decoration: none;
  color: var(--color-1);
  border: solid 2px var(--background-header-1);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  letter-spacing: 3px;
  padding: 25px 45px;
}

.error-link:hover {
  background-color: var(--background-header-1);
}

.error-link-paragraph {
  margin: 70px;
}

@media (max-width: 768px) {
  .error {
    padding-top: 80px;
  }

  .error-link {
    padding: 20px 40px;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
}

/* COOKIES */

/* 8. Štýly pre Cookie Consent */
.accept-button {
  background-color: #EAA29A;
}
